body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("pokedex-background.png");
}

header{
  width: 100%;
  height: 25%;
  position: fixed;
  background-image: url("header.png");
  margin-top: -12%;
  margin-bottom: 150px;
}

img {
  width: 50px;
}

h1{
  margin-top: 12%;
  margin-left: 42%;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 40px;
  color: #2f3640;
}

li{
  display: flex;
  gap: 50px;
  width: 80%;
}

.collectionButton{
  margin-left: 50%;
  top: 35%;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  height: 48px;
  padding: 2px 24px;
  position: relative;
  width: auto;
  text-decoration:none;
}

a{
  text-decoration : none;
  color: black;
  width: 70%;
}

.imagePokemon, .imagePokeball{
  position: absolute;
  width: 70px;
}

.divPoke{
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.colection{
  position: relative;
  display:inline-block;
  float:right;
  bottom: 12%;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 24px;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  height: 60px;
  padding: 2px 24px;
  width: 160px;
  cursor: pointer;
  margin-right: 5%;
}

ul{
  align-items: center;
  height: 80px;
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
  background: white;
  margin-left: 25%;
  margin-right: 50%;
  border-radius: 30px;
  width: 42%;
}