body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("testfonddetail.png");
}

header{
  width: 100%;
  height: 25%;
  position: fixed;
  background-image: url("header.png");
  margin-top: -12%;
  margin-bottom: 150px;
  display: flex;
  gap: 40px;
}

.imgPoke {
  width: 150px;
  margin-left: 15%;
}

h1{
  margin-top: 12%;
  margin-left: 55%;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 40px;
  color: #2f3640;
}

.pokemon{
  margin-top: -1%;
  margin-left: 25%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.colection{
  left: 45%;
  top: 32%;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  height: 48px;
  padding: 2px 24px;
  position: relative;
  width: auto;
  text-decoration:none;
}

.text1{
  margin-left: 40%;
}

.text2{
  margin-top: -10%;
  margin-left: -7%;
}

.details{
  margin-top: 2%;
  margin-left: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-decoration:none;
}

.stats{
display: flex;
  position: fixed;
  text-decoration:none;
  margin-left: 25%;
  margin-top: 4%;
  flex-direction: column;
}

.type{
  display: flex;
  align-items: center;
  position: fixed;
  text-decoration:none;
  margin-left: -3%;
  margin-top: 3%;
}

.resistance{
  display: flex;
  align-items: center;
  gap: 5px;
  list-style  : none;
  margin-left: -8.5%;
  margin-top: -1%;
  font-size: 12.5px;
  width: 10%;
}

.imgType{
  width: 40%;
}

.titreStat{
  position: absolute;
  margin-left: 47%;
}

.titreResist{
  margin-top: 14%;
}

.collection2{
  left: 50px;
  top: 50px;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  height: 48px;
  padding: 2px 24px;
  position: relative;
  width: auto;
  text-decoration:none;
  cursor: pointer;
}

a{
  text-decoration : none;
  align-items: center;
  color: black;
}