body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("pokedex-background.png");
}

header{
  width: 100%;
  height: 25%;
  position: absolute;
  background: url("header.png") no-repeat;
  margin-top: -12%;
  margin-bottom: 150px;
}

img {
  width: 50px;
}

.searchBox {
  position: relative;
  margin-top: 1.5%;
  left: 50%;
  transform:  translate(-50%,50%);
  background: white;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  width: 40%;
}

.searchBox:hover > .searchInput {
  width: 80%;
  padding: 0 6px;

}

.searchBox:hover > .searchButton {
background: white;
color : black;

}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: black;
  font-size: 16px;
  line-height: 40px;
  width: 80%;
}

h1{
  margin-top: 12%;
  margin-left: 26%;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 40px;
  color: #2f3640;
}

a{
  text-decoration : none;
  align-items: center;
  color: black;
}



.imagePokemon, .imagePokeball{
  position: absolute;
  width: 70px;
}

.divPoke{
  display: flex;
  align-items: center;
  margin-right: 10%;
}

.colection{
  margin-left: 90%;
  bottom: 12%;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  height: 48px;
  padding: 2px 24px;
  position: relative;
  width: auto;
  text-decoration:none;
}

.description{
  height: 80px;
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
  background: white;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  border-radius: 30px;
}

.nomPoke{
  gap: 60px;
  display: flex;
  align-items: center;
}

.type{
  margin-left: 40%;
  margin-top: 5px;
  width: 250px;
  background: white;
  border-radius: 10px;
}