<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Ma Collection</title>
    <link href="../static/collection.css" rel="stylesheet" />
</head>
<body>
  <header>

    <button class ="collectionButton"><a href="{{ url_for('home') }}">Accueil</a></button>

  </header>

  <section>
      <h1>Ma Collection</h1>

        {% for pokemon in collection %}<ul>
        <li>
            <img src="{{ pokemon.sprites.regular }}" alt="image de pokemon" />
            <p>ID: {{ pokemon.id }}</p>
            <p>Nom: {{ pokemon.name }}</p>

            <p>Stats:</p>
            <ul>
                {% for stat, value in pokemon.stats.items() %}
                    <li>{{ stat }}: {{ value }}</li>
                {% endfor %}
            </ul>
            <p>Résistances:</p>
            <ul>
                {% for resistance in pokemon.resistance %}
                    <li>{{ resistance.name }}: {{ resistance.multiplier }}</li>
                {% endfor %}
            </ul>
            <form method="post" action="{{ url_for('remove_from_collection', pokemon_id=pokemon.id) }}">
                <button type="submit">Supprimer de la collection</button>
            </form>
        </li></ul>
        {% endfor %}
  </section>


</body>
</html>