<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Pokémon</title>
</head>
<body>
    <h1>Pokemon en recommandation</h1>

    <ul>
        {% for pokemon in pokemons %}
            <li>
                {% if 'id' in pokemon %}
                    <a href="{{ url_for('pokemon_details', pokemon_id=pokemon.id) }}">{{ pokemon.name }}</a>
                {% else %}
                    <span>{{ pokemon.name }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>