<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Pokedex</title>
    <link href="pagePrincipale.css" rel="stylesheet" />
  </head>
  <body>
    <form>
      <div>
        <input
          list="pokemon"
          type="search"
          id="site-search"
          name="q"
          placeholder="Rechercher pokemon…"
        />
        <button>Rechercher</button>
        <datalist id="pokemon">
          <option value="Pikachu"></option>
          <option value="Abra"></option>
          <option value="Rapasdepic"></option>
          <option value="Salameche"></option>
          <option value="Bulbizarre"></option>
        </datalist>
      </div>
    </form>

    <!-- Pokemon en recommandation code : -->
    <h1>Pokemon en recommandation</h1>
      <ul>
        {% for pokemon in recommendations %}
        <li>
          <a href="{{url_for('pokemon_details', pokemon_id=pokemon.pokedexId)}}">
            <img src="{{pokemon.sprites.regular}}" alt="image de pokemon" />
          </a>
          <ul>
            <p>Nom en Francais : {{ pokemon.name['fr']|safe }}</p>
            <p>Nom en Anglais : {{ pokemon.name['en']|safe }}</p>
            <p>Nom en Japonais : {{ pokemon.name['jp']|safe }}</p>
          </ul>
        </li>
        {% endfor %}
      </ul>
    <!-- Fin du code de recommandation -->

  </body>
</html>
