<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Pokedex</title>
    <link href="../static/pagePrincipale.css" rel="stylesheet" />
  </head>

  <body>
  <header>
       {% if form %}
    <form method="POST" action="">
        <div class="searchBox">
            <input
                    class="searchInput"
                list="pokemon"
                type="search"
                id="autocomplete_input"
                name="autocomplete_input"
                placeholder="Rechercher pokemon…"
                autocomplete="on"
            />
            <datalist id="pokemon">
                {% for row in lesNomsDesPokemons %}
                <option value="{{ row }}"></option>
                {% endfor %}
            </datalist><button class="searchButton" type="submit"><img src="../static/pokeball.png" alt="" /></button>
        </div>
        </form>
    {% endif %}

    <button class ="colection"><a href="{{ url_for('collection') }}">Collection</a></button>

  </header>

  <section>
      <!-- Pokemon en recommandation code : -->
    <h1>Pokemon en recommandation</h1>

        {% for pokemon in recommendations %}
            <ul>
        <p>Id : {{pokemon.pokedexId}}</p>

          <a href="{{url_for('pokemon_details', pokemon_id=pokemon.pokedexId)}}">
            <img src="{{pokemon.sprites.regular}}" alt="image de pokemon" />
          </a>
          <ul>
            <p>Nom en Francais : {{ pokemon.name['fr']|safe }}</p>
            <p>Nom en Anglais : {{ pokemon.name['en']|safe }}</p>
            <p>Nom en Japonais : {{ pokemon.name['jp']|safe }}</p>
          </ul>
        </ul>
        {% endfor %}

    <!-- Fin du code de recommandation -->
  </section>
  </body>
</html>
