<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails Pokémon</title>
    <link href="../static/pagePrincipale.css" rel="stylesheet" />
</head>
<body>
    <h1>Détails du Pokémon</h1>

    <ul>
        <p>Nom en Francais : {{ pokemon.name['fr']|safe }}</p>
        <p>Nom en Anglais : {{ pokemon.name['en']|safe }}</p>
        <p>Nom en Japonais : {{ pokemon.name['jp']|safe }}</p>
    </ul>
    <p>Identifiant: {{ pokemon.pokedexId }}</p>

    <h2>Types</h2>
    <ul>
        {% for poke_type in pokemon.types %}
            <li>{{ poke_type.name }}: <img src="{{poke_type.image}}" alt="image du type du pokemon" /> </li>
        {% endfor %}
    </ul>

    <h2>Statistiques</h2>
    <ul>
        {% for stat, value in pokemon.stats.items() %}
            <li>{{ stat }}: {{ value }}</li>
        {% endfor %}
    </ul>

    <h2>Résistances</h2>
    <ul>
        {% if pokemon.resistances %}
            {% for resistance in pokemon.resistances %}
                <li>{{ resistance.name }}: {{ resistance.multiplier }}</li>
            {% endfor %}
        {% else %}
            <li>Aucune résistance</li>
        {% endif %}
    </ul>

    <form method="post" action="{{ url_for('add_to_collection', pokemon_id=pokemon.pokedexId) }}">
        <button type="submit">Ajouter à la collection</button>
    </form>

    <form method="get" action="{{ url_for('home') }}">
        <button type="submit">Retour à la page d'accueil</button>
    </form>

</body>
</html>
