<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails Pokémon</title>
    <link href="../static/details.css" rel="stylesheet" />
      <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
</head>
<body>
<header>

    <button class ="colection"><a href="{{ url_for('collection') }}">Collection</a></button>
    <button class ="colection"><a href="{{ url_for('home') }}">Accueil</a></button>
</header>

<section>
<h1>Détails du Pokémon</h1>

<div class="pokemon">


    <img class="imgPoke" src="{{pokemon.sprites.regular}}" alt="image de pokemon" />
    <p class="text1">Id: {{ pokemon.pokedexId }}</p>
    <ul class="text2">
        <p>Nom en Francais : {{ pokemon.name['fr']|safe }}</p>
        <p>Nom en Anglais : {{ pokemon.name['en']|safe }}</p>
        <p>Nom en Japonais : {{ pokemon.name['jp']|safe }}</p>
    </ul>
    <div>
        <audio id="pokemonAudio" controls style="display: none;"></audio>

        <script>
            var audioElement = document.querySelector("#pokemonAudio");
            var audioSource = "../static/son/{{ pokemon.pokedexId }} - {{ pokemon.name['fr']|lower }}.ogg";

            var xhr = new XMLHttpRequest();
            xhr.open('HEAD', audioSource, true);

            xhr.onload = function () {
                if (xhr.status == 200) {
                    // Le fichier existe, donc on l'ajoute à la balise audio
                    audioElement.src = audioSource;
                    audioElement.style.display = "inline";
                } else {
                    // Le fichier n'existe pas, afficher un message
                    console.log("Le son du Pokémon n'est pas disponible.");
                }
            };

            xhr.send();
        </script>
    </div>
</div>

<div class="details">
    <h2>Types</h2>
    <ul class="type">
        {% for poke_type in pokemon.types %}
            <p>{{ poke_type.name }}: <img class="imgType" src="{{poke_type.image}}" alt="image du type du pokemon" /> </p>
        {% endfor %}
    </ul>

    <h2 class="titreStat">Statistiques</h2>
    <ul class="stats">
        {% for stat, value in pokemon.stats.items() %}
            <li>{{ stat }}: {{ value }}</li>
        {% endfor %}
    </ul>

    <h2 class="titreResist">Résistances</h2>
    <ul class="resistance">
        {% if pokemon.resistances %}
            {% for resistance in pokemon.resistances %}
                <li>{{ resistance.name }} {{ resistance.multiplier }}</li>
            {% endfor %}
        {% else %}
            <li>Aucune résistance</li>
        {% endif %}
    </ul>
</div>

    <form method="post" action="{{ url_for('add_to_collection', pokemon_id=pokemon.pokedexId) }}">
        <button class="collection2" type="submit">Ajouter à la collection</button>
    </form>

</section>

<div>
<h2>Types</h2>
    <ul class="type">
        {% for evo in evolutions %}
            <div>
            <a href="{{url_for('pokemon_details', pokemon_id= evo.id)}}">
            <p>{{ evo.name }}: <img class="imgType" src="{{evo.sprites}}" alt="image du type du pokemon" /> </p>
            <p>{{ evo.condition }}</p></a></div>
        {% endfor %}
    </ul>
</div>


</body>
</html>
